* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main{
  width: 70%;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 200px;
  background-color: yellow;
  margin:0 auto;
  background-image: url(../img/bosco.jpg);
  background-size: cover;
  background-position: bottom ;
  border: 10px solid #e3e3e3;
  position: relative;
}
nav{
  width: 100%;
  height: 50px;
  background-color:#404040;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}

ul{
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border: 2px solid #e3e3e3;

}
li {
  display: inline-block;
}
a {
  color: #e3e3e3;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #e3e3e3;
  margin: 0 auto;
  border-radius: 5px;
}
  /* TITOLI DELL'HEADER  */
#titolohead{
  position: absolute;
  color: #e3e3e3;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#titolohead2{
  position: absolute;
  color: #e3e3e3;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,100%);
}
  /* TITOLI DELL'HEADER fine */
#contenitore {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

#greentext {
  color: #41733b;
}

#footer{
  text-align: center;
  color: #afafaf;
}
.asidesx {
  float: left;
  width:15%;
  /* debug */
  /* height: 150px; */
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 10px;
}

.middle {
  float: left;
  width: 55%;
  /* debug */
  /* height: 150px; */
  background-color: #e3e3e3;
  margin: 0 5%;
  border-radius: 5px;
  padding: 15px;
}
.mid_title{
  color: #49312d;

}
.asidedx{
  float: left;
  width:20%;
  /* debug */
  /* height: 150px; */
  /* background-color: white; */
}
.tab1 {
  width: 100%;
  /* height: 50px; */
  background-color: #e3e3e3;
  float: left;
  border-radius: 5px;
  padding: 15px;
}
.tab2 {
  width: 100%;
  /* height: 50px; */
  background-color: #e3e3e3;
  float: left;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px;
}
.tab3{
  width: 100%;
  /* height: 50px; */
  background-color: #e3e3e3;
  float: left;
  border-radius: 5px;
  padding: 15px;
}
.h1_tab{
  text-align: center;
  font-weight: 600;
  color: #49312d;
  margin-bottom: 20px;
}
