* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/wood.jpg);
}
main{
  width: 70%;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 200px;
  background-color: yellow;
  margin:0 auto;
  background-image: url(../img/bosco.jpg);
  background-size: cover;
  background-position: bottom ;
  border: 10px solid #e3e3e3;
  position: relative;
}
nav{
  width: 100%;
  height: 50px;
  background-color:#404040;
  margin: 0 auto;
  position: relative;
}
ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

li {
  display: inline-block;
  color: #e3e3e3;
  font-style: normal;
}
footer {
  width: 100%;
  height: 50px;
  background-color: red;
  margin: 0 auto;
}
  /* TITOLI DELL'HEADER  */
#titolohead{
  position: absolute;
  color: #e3e3e3;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#titolohead2{
  position: absolute;
  color: #e3e3e3;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,100%);
}
  /* TITOLI DELL'HEADER fine */
#contenitore {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  margin:0 auto;
}

.asidesx {
  float: left;
  width:20%;
  /* debug */
  height: 150px;
  background-color: green;
}
.middle {
  float: left;
  width: 50%;
  /* debug */
  height: 150px;
  background-color: blue;
  margin: 0 5%;
}
.asidedx{
  float: left;
  width:20%;
  /* debug */
  height: 150px;
  background-color: white;
}
.tab1 {
  width: 100%;
  height: 50px;
  background-color: purple;
  float: left;
}
.tab2 {
  width: 100%;
  height: 50px;
  background-color: gold;
  float: left;
}
